{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["jest"],
  "rules": {
    "no-var": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "semi": "off"
  }
}
